<div>
  <div class="path w3-padding">
    <div ng-repeat="directory in path" ng-click="open_directory(directory)" style="display: inline">
      <div class="path-item-separator glyphicon glyphicon-menu-right"></div>
      <button class="path-item">
        {{ directory.name }}
      </button>

    </div>
  </div>

  <table class="menu-files-and-folders">
    <tr class="menu-files-and-folders-header">
      <th>
        <div class="menu-files-and-folders-text">
          Nazwa
        </div>
      </th>
      <th class="w3-hide-small">
        <div class="menu-files-and-folders-text">
          Ostatnio modyfikowany
        </div>
      </th>
    </tr>
    <tr class="menu-files-and-folders-element" ng-repeat="directory in directories" ng-dblclick="open_directory(directory)" ng-class="{ selected: (selected_directories.indexOf(directory.id) != -1)}" ng-click="select_directory($event, directory.id)">
      <td>
        <div class="menu-files-and-folders-text">
          <div class="files-folders-icon glyphicon glyphicon-folder-open"></div>
          {{ directory.name }}
        </div>
      </td>
      <td class="w3-hide-small">
        <div class="menu-files-and-folders-text">
          {{ directory.updated_at | date : "dd/MM/yyyy, HH:mm" : "UTC"}}
        </div>
      </td>
    </tr>
    <tr class="menu-files-and-folders-element" ng-repeat="file in files" ng-click="select_file($event, file.id)" ng-class="{ selected: (selected_files.indexOf(file.id) != -1)}">
      <td>
        <div class="menu-files-and-folders-text">
          <div class="files-folders-icon glyphicon glyphicon-file"></div>
          {{ file.name }}
        </div>
      </td>
      <td class="w3-hide-small">
        <div class="menu-files-and-folders-text">
          {{ file.updated_at | date : "dd/MM/yyyy, HH:mm" : "UTC"}}
        </div>
      </td>
    </tr>
    <tr ng-click="unselect_all()">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>


