<div>


  <script>

      window.onload = function ()
      {
          document.getElementById("share-button").disabled = true;
          document.getElementById("download-button").disabled = true;
      };

      function enable_buttons()
      {
          document.getElementById("share-button").disabled = false;
          document.getElementById("download-button").disabled = false;
      }

      function disable_buttons()
      {
          document.getElementById("share-button").disabled = true;
          document.getElementById("download-button").disabled = true;
      }

  </script>

  <div class="w3-right">
    <button id="download-button" class="button-standard button-color-4" disabled>
      <i class="fa fa-download"> Pobierz</i>
    </button>

    <button id="share-button" class="button-standard button-color-4" disabled>
      <i class="fa fa-user-plus"> Udostępnij</i>
    </button>
  </div>

  <div class="path w3-padding">
    <div ng-repeat="directory in path" ng-click="open_directory(directory)" style="display: inline">
      <div class="path-item-separator glyphicon glyphicon-menu-right"></div>
      <button class="path-item">
        {{ directory.name }}
      </button>

    </div>
  </div>

  <table class="menu-files-and-folders">
    <tr class="menu-files-and-folders-header">
      <th>
        <div class="menu-files-and-folders-text" ng-click="change_sort('name')">
          Nazwa
          <span class="glyphicon glyphicon-chevron-up" ng-show="sort_options.by == 'name' && sort_options.order == 'asc'"></span>
          <span class="glyphicon glyphicon-chevron-down" ng-show="sort_options.by == 'name' && sort_options.order == 'desc'"></span>
        </div>
      </th>
      <th class="w3-hide-small">
        <div class="menu-files-and-folders-text" ng-click="change_sort('updated_at')">
          Ostatnio modyfikowany
          <span class="glyphicon glyphicon-chevron-up" ng-show="sort_options.by == 'updated_at' && sort_options.order == 'asc'"></span>
          <span class="glyphicon glyphicon-chevron-down" ng-show="sort_options.by == 'updated_at' && sort_options.order == 'desc'"></span>
        </div>
      </th>
    </tr>
    <tr class="menu-files-and-folders-element" ng-repeat="directory in directories" ng-dblclick="open_directory(directory)" ng-class="{ selected: (selected_directories.indexOf(directory.id) != -1)}" ng-click="select_directory($event, directory.id)" onclick="enable_buttons()" ondblclick="disable_buttons()">
      <td>
        <div class="menu-files-and-folders-text">
          <div class="files-folders-icon glyphicon glyphicon-folder-open"></div>
          {{ directory.name }}
        </div>
      </td>
      <td class="w3-hide-small">
        <div class="menu-files-and-folders-text">
          {{ directory.updated_at | date : "dd/MM/yyyy, HH:mm" : "UTC"}}
        </div>
      </td>
    </tr>
    <tr class="menu-files-and-folders-element" ng-repeat="file in files" ng-dblclick="download_file(file.id)" ng-click="select_file($event, file.id)" ng-class="{ selected: (selected_files.indexOf(file.id) != -1)}" onclick="enable_buttons()">
      <td>
        <div class="menu-files-and-folders-text">
          <div class="files-folders-icon glyphicon glyphicon-file"></div>
          {{ file.name }}
        </div>
      </td>
      <td class="w3-hide-small">
        <div class="menu-files-and-folders-text">
          {{ file.updated_at | date : "dd/MM/yyyy, HH:mm" : "UTC"}}
        </div>
      </td>
    </tr>
    <tr ng-click="unselect_all()" onclick="disable_buttons()">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>


