.sidebar
{
    border-right: 2px solid #BBBBBB;
    padding-left: 20px;
}

.sidebar-item
{
    color: #000100;
    margin-top: 8px;

    transition: 500ms;
}

.sidebar-item:hover
{
    color: #003a7f;

    transition: 400ms;
}

.drop-button
{

}

.dropdown-content
{
    display: none;
    position: absolute;
    z-index: 1;
    overflow: auto;
    box-shadow: 0 8px 16px 0 #555555;
}

.dropdown-full-screen
{
    width: 100%;
}


.file-or-folder-dropdown
{
    min-width: 180px;
}

.file-or-folder-dropdown-item
{
    background-color: #fefffe;
}

.file-or-folder-dropdown-item:hover
{
    background-color: #f8f8f8;
    color: #003a7f;
}

.button-standard
{
    border: 0;
    border-radius: 2px;

    padding: 10px 10px 10px 10px;
}

.button-50
{
    width: 50%;
}

.button-30
{
    width: 30%;
}

.button-circle-40
{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}


.button-color-4
{
    color: #eeffee;
    background-color: #00a8a4;

    transition: 500ms;
}

.button-color-4:hover
{
    color: #ffffff;
    background-color: #00c4c0;

    transition: 500ms;
}


.drive-pages
{
    margin-top: 50px;
    height: 100%;
}

.drive-content
{
    padding: 20px;

}

.menu-files-and-folders
{
    width: 100%;
}

.menu-files-and-folders-header
{
    border-bottom: 2px solid #555555;

    font-size: 1.5rem;
}

.menu-files-and-folders-element
{
    border-bottom: 1px solid #999999;

    font-size: 1.4rem;

    cursor: default;

    transition: 100ms;
}

.menu-files-and-folders-element:hover
{
    background-color: #00b9b5;
    color: #fafffa;
    border-bottom: 2px solid #00c4c0;

    transition: 100ms;
}

.menu-files-and-folders-text
{
    margin: 10px;
}

.files-folders-icon
{
    margin-left: 5px;
    margin-right: 8px;
}

.selected
{
    background-color: #00a8a4;
    color: #fafffa;
    border-bottom: 2px solid #00a8a4;
}


.path
{
    border: transparent;
    border-radius: 5px;

    font-size: 1.6rem;
}

.path-item
{
    cursor: hand;

    border: none;
    border-radius: 8px;

    padding: 6px 12px;

    background-color: #fefffe;

    transition: 100ms;
}

.path-item:hover
{
    background-color: #00a8a4;
    color: #fafffa;

    transition: 100ms;
}


.path-item-separator
{
    font-size: 1.4rem;
}

.menu-arrow
{
    font-size: 1rem;
}


.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(255,255,255,0.8);
}


.modal-content
{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}


.input-in-modal
{
    border: 1px solid #00a8a4;
    border-radius: 3px;
    background-color: #fefffe;

    padding: 8px;
    margin-top: 20px;
    margin-bottom: 20px;

    width: 80%;
}

.modal-title
{
    font-weight: bold;
    font-size: 2rem;
}

.modal-button
{
    border: none;

    color: #00a8a4;
    background-color: transparent;

    padding: 10px;

    transition: 100ms;
}

.modal-button:hover
{
    color: #003a7f;
    transition: 100ms;
}

.close
{
    color: #888888;
    float: right;
    font-weight: bold;
}

.close:hover, .close:focus
{
    color: #000100;
    text-decoration: none;
    cursor: pointer;
}