.inputStandard
{
    border: none;
    border-radius: 1px;

    margin-bottom: 20px;
    padding: 8px;

    width: 80%;
    min-width: 190px;
}

.center
{
    text-align: center;
}

.buttonDefault
{
    border: none;
    border-radius: 1px;

    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;

    width: 80%;
    min-width: 120px;


    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.buttonDefault:hover
{
    cursor: hand;
}

.mediumDarkGreen
{
    background-color: #108845;
    color: #fafffa;
}

.mediumDarkGreen:hover
{
    background-color: #20aa55;
    color: #fdfffd;
}

.mediumDarkRed
{
    background-color: #aa2020;
    color: #fffafa;
}

.mediumDarkRed:hover
{
    background-color: #bb2020;
    color: #fffdfd;
}

.loginRegister
{
    text-align: right;
}

.noDecoration
{
    text-decoration: none;
}

.noDecoration:hover
{
    text-decoration: none;
}

.black
{
    color: #000100;
}

.black:hover
{
    color: #000100;
}

.link1
{
    font-size: 1rem;
}

.link1:hover
{
    font-size: 1.1rem;

    -webkit-transition-duration: 0.15s; /* Safari */
    transition-duration: 0.15s;
}

.frame
{
    border: solid 4px #aa2020;
    border-radius: 40px;
    background-color: #fdfdfd;

    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5%;
    padding-bottom: 5%;

    margin-top: 60px;
}

.sectionTitle
{
    color: #aa2020;
    margin-bottom: 5%;
    font-size: 2rem;
}