<% content_for :title, "Odzyskaj hasło" %>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle center">
    <div class="frame w3-animate-top" style="color: red">
      <div class="sectionTitle">
          Odzyskaj hasło
      </div>
      Dziękujemy za zapytanie. Jeżeli dane podane w formularzu są poprawne, na podany adres e-mail zostanie wysłany link do odzyskiwania hasła. Prosimy pamiętać, że link ten jest ważny 24 godziny.
    </div>
  </div>
</div>