<!DOCTYPE html>
<html>
<title>Strona główna</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  body,h1 {font-family: "Raleway", sans-serif}
  body, html {height: 100%}
  .bgimg {
    background-image: url('/background_winter.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
  }
</style>

<script>
    function menuSmall() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle center">
    <form action="">
      <input type="text" placeholder="Login" class="inputStandard w3-animate-top"/>
      <input type="password" placeholder="Hasło" class="inputStandard w3-animate-top"/>
      <input type="submit" class="buttonDefault mediumDarkRed w3-animate-top" value="Zaloguj"/>
    </form>
  </div>
</div>

</body>
</html>
