<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle center">
    <form action="">
      <input type="text" placeholder="Login" class="inputStandard w3-animate-top"/>
      <input type="password" placeholder="Hasło" class="inputStandard w3-animate-top"/>
      <input type="submit" class="buttonDefault mediumDarkRed w3-animate-top" value="Zaloguj"/>
    </form>

    <strong><%= link_to "Przypomnij mi hasło", forgot_password_path, class: "link1 w3-animate-top" %></strong>
  </div>
</div>

