<!DOCTYPE html>
<html>
  <head>
    <title>E-dysk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-card-2">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="menuSmall()" title="Menu"><i class="fa fa-bars"></i></a>
      <a href="#" class="noDecoration w3-bar-item w3-padding-large"><b>E-dysk</b></a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hide-small">STRONA GŁÓWNA</a>
      <a href="" class="w3-bar-item w3-button w3-padding-large w3-hide-small">DOWIEDZ SIĘ WIĘCEJ</a>
      <a href="" class="w3-bar-item w3-button w3-padding-large w3-hide-small">WIĘCEJ MOŻLIWOŚCI</a>
      <a href="" class="w3-bar-item w3-button w3-padding-large w3-hide-small">REGULAMIN</a>
      <div class="loginRegister">
        <a href="" class="w3-right w3-button w3-bar-item w3-padding-large w3-hide-small">ZAŁÓŻ KONTO</a>
      </div>

    </div>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="" class="w3-bar-item w3-button w3-padding-large">STRONA GŁÓWNA</a>
    <a href="" class="w3-bar-item w3-button w3-padding-large">DOWIEDZ SIĘ WIĘCEJ</a>
    <a href="" class="w3-bar-item w3-button w3-padding-large">WIĘCEJ MOŻLIWOŚCI</a>
    <a href="" class="w3-bar-item w3-button w3-padding-large">REGULAMIN</a>
    <a href="" class="w3-bar-item w3-button w3-padding-large">ZAŁÓŻ KONTO</a>
  </div>
    <%= yield %>
  </body>
</html>
