<!DOCTYPE html>
<html>
<head>
  <title>E-dysk</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="public.css">
  <link rel="stylesheet" href="drive.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<script>
    function menuSmall() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card-2">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="menuSmall()" title="Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="black noDecoration w3-bar-item w3-padding-large"><b>E-dysk</b></a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">WIĘCEJ <i class="fa fa-caret-down"></i></button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">REGULAMIN</a>
        <a href="#" class="w3-bar-item w3-button">WIĘCEJ MOŻLIWOŚCI</a>
        <a href="#" class="w3-bar-item w3-button">POMOC</a>
      </div>
    </div>
    <div class="loginRegister">
      <a href="" class="noDecoration w3-right w3-button w3-bar-item w3-padding-large w3-hide-small">WYLOGUJ</a>
      <a href="" class="noDecoration w3-right w3-button w3-bar-item w3-padding-large w3-hide-small">MOJE KONTO</a>
    </div>

  </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="" class="w3-bar-item w3-button w3-padding-large">STRONA GŁÓWNA</a>
  <a href="" class="w3-bar-item w3-button w3-padding-large">POMOC</a>
  <a href="" class="w3-bar-item w3-button w3-padding-large">WIĘCEJ MOŻLIWOŚCI</a>
  <a href="" class="w3-bar-item w3-button w3-padding-large">REGULAMIN</a>
  <a href="" class="w3-bar-item w3-button w3-padding-large">MOJE KONTO</a>
  <a href="" class="w3-bar-item w3-button w3-padding-large">WYLOGUJ</a>
</div>


<!-- Sidebar/menu -->
<nav class="sidebar w3-sidebar w3-collapse w3-white" style="z-index:0;width:300px;" id="mySidebar"><br>
  <div class="w3-bar-block">
    <a href="" onclick="w3_close()" class="noDecoration w3-bar-item w3-button w3-padding w3-text-teal w3-hide-small"><i class="glyphicon glyphicon-folder-open w3-margin-right"></i>Mój dysk</a>
    <a href="" onclick="w3_close()" class="noDecoration w3-bar-item w3-button w3-padding w3-hide-small"><i class="glyphicon glyphicon-duplicate w3-margin-right"></i>Udostępnione dla mnie</a>
    <a href="" onclick="w3_close()" class="noDecoration w3-bar-item w3-button w3-padding w3-hide-small"><i class="fa fa-male fa-fw w3-margin-right"></i>Współpracownicy</a>
    <a href="" onclick="w3_close()" class="noDecoration w3-bar-item w3-button w3-padding w3-hide-small"><i class="glyphicon glyphicon-hdd w3-margin-right"></i>Wykorzystanie dysku</a>
  </div>
</nav>

<%= yield %>

</body>
</html>